<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmericaVirtual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:lightgray">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-danger border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">AmericaVirtual</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <div class="btn-group col-5" id="divBoton">
                        <button type="button" id="iniciarSesionBoton" class="btn btn-danger border-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Iniciar Sesión <span class="fa fa-id-card"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right col-12 p-3" id="iniciarSesionCuadro">
                            <form class="col-12">
                                <div class="form-group">
                                    <label for="usuario_control">Usuario</label>
                                    <input class="form-control" id="usuario_control" aria-describedby="usuario" placeholder="americavirtual@gmail.com" />
                                </div>
                                <div class="form-group">
                                    <label for="password_control">Contraseña</label>
                                    <input class="form-control" id="password_control" aria-describedby="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Iniciar Sesión" class="form-control bg-danger text-white" id="iniciarSesion_control" aria-describedby="iniciarSesion" placeholder="Iniciar Sesión">
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AmericaVirtual - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
